.shop-container{
    display: flex;
}
.product-container{
    width: 80%;
    margin-right: 5px;
    padding-right: 10px;
    margin-left: 20px;
    border-right: 1px solid gray;
}
.cart-container{
    margin: 0 auto;
}
.cart-container h3{
    text-align: center;
}